body {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.shadow {
	box-shadow: 2px 2px 10px 0px #777;
}

.text-shadow {
	text-shadow: 2px 2px 5px black;
}

.titles {
	margin: 0;
	display: inline-block;
	position: relative;
	padding: 20px 40px;	
	background: rgba(245,245,245,1);
	font-size: 120px;
	font-weight: bold;
	font-family: 'Londrina Outline', cursive;
	color: red;
	text-shadow: 2px 2px 5px black;
}

.title1 {	
	position: absolute;
	left: 13%;
	transform: rotate(-10deg);	
	transition: all 300ms ease;

}

.title1:hover {
	left: 13%;
	transform: rotate(0deg) scale(1.1);
	box-shadow: 2px 40px 17px -25px #777;
	border: 1px solid rgba(0,0,0,.1);
}

.title2 {
	position: absolute;
	left: 37%;
	transform: rotate(8deg);
	transition: all 300ms ease;
}

.title2:hover {
	left: 37%;
	transform: rotate(0deg) scale(1.1);
	box-shadow: 2px 40px 17px -25px #777;
	border: 1px solid rgba(0,0,0,.1);
}

#begin.start.btn.btn-danger{
	font-family: 'Londrina Outline', cursive;
	font-weight: bold;
	position: absolute;
	right:10%;
	height: 200px;
	width: 400px;
	font-size: 90px;
	line-height: 40px;
	background-color: rgba(245,245,245,1);;
	color: red;
	transition: all 300ms ease;
	transform: translateY(100px) rotate(-14deg);
	border: none;
	z-index: 1;
}

#begin.start.btn.btn-danger:hover {
	transform: translateY(100px) rotate(0deg) scale(1.2);
	box-shadow: 2px 40px 17px -25px #777;
	border: 1px solid rgba(0,0,0,.1);
	z-index: 100;
}

#begin.start.btn.btn-danger:active {
	transform: translateY(100px) rotate(-4deg) scale(1);
	box-shadow: 2px 2px 10px 0px #777;	
}

#playAgain {
	background-color: white;
	color: red;
	height: 50px;
	font-size: 	26px;
	margin-top: 20px;
	transition: all 300ms ease;	
	box-shadow: 0px 8px 10px -3px #777;
}

#playAgain:hover {
	background: red;
	color: white;
	box-shadow: 0px 30px 17px -20px #777;
	transform: translateY(-10px) scale(1.1);
} 

#playAgain:active {
	background: red;
	color: white;
	transform: translateY(0px) scale(1);
	box-shadow: 0px 8px 10px -3px #777;
}

.main, .score-box {
	margin-top: 15%;
	display: none;
	font-family: 'Pangolin', cursive;
	background-color: rgba(245,245,245,1);
	padding: 30px;
	text-align: center;
	color: black;
	font-size: 26px;
	font-weight: bold;
	box-shadow: 2px 2px 10px 0px #777;
}

.timer-container {
	display: inline-block;
	height: 50px;
	width: 50px;		
	border-radius: 50%;
	background: red;
	line-height: 54px;
	color: white;
}

.score {
	display: inline-block;
	padding: 0 10px;
	transition: all 300ms ease;
}

.score:hover {
	transform: scale(1.2);
	color: red;
}

#clear {
	background-color: white;
	color: red;
	height: 50px;
	font-size: 	26px;
	margin-top: 20px;
	transition: all 300ms ease;	
	box-shadow: 0px 8px 10px -3px #777;
	border: 1px solid red;
}

#clear:hover {
	background: red;
	color: white;
	box-shadow: 0px 30px 17px -20px #777;
	transform: translateY(-10px) scale(1.1);
} 

#clear:active {
	background: red;
	color: white;
	transform: translateY(0px) scale(1);
	box-shadow: 0px 8px 10px -3px #777;
}

.question {
	margin-bottom: 50px;
	font-weight: bold;
}

.answer {
	display: inline;
	padding: 5px 15px;
	font-size: 30px;
	font-weight: bold;
}

.answer:hover {
	border: 2px solid rgba(255,0,0,1);
	background-color:white;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	color: red;
}
